@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700,700i&display=swap");

@import url("./fonts.css");

html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #111;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

select {
  font-family: inherit;
  font-size: inherit;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: Quicksandcf;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

.typeCycle {
  margin: 0;
  padding: 0;
  font-family: Quicksandcf;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.75rem;
}

.menu {
  height: 100px;
  width: 100%;
  margin-left: 0;
  background-color: #223;
}

/* Les sections sont les principaux segments de page. */
section {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

/* Le conteneur principal de contenu est placé directement à l'intérieur d'un segment. */
.menu > .container {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 330px;
  max-width: 1100px;
  box-sizing: content-box; /* Pour exclure le padding du calcul de la largeur. */
}
section > .container {
  margin: 30px auto;
  padding: 15px;
  min-width: 330px;
  max-width: 1100px;
  box-sizing: content-box; /* Pour exclure le padding du calcul de la largeur. */
  /* background-color: #fff; */
  /* outline: solid 1px red; */
}

.datesCycle {
  margin: 0 0 12px 0;
  font-family: Quicksandcf;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 24px;
}

.grid img {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

/*
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.row > .col1 {
  width: 66.67%;
}

.row > .col2 {
  width: 33.33%;
}

.row > .col1 > img {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}
*/

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container > iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.cycle-texte {
  margin: 48px 0 48px 0;
}

.cards-container {
  /* background-color: #ffc; */
}

.sous-cycle h2 {
  margin-bottom: 1.25rem;
}

.texte-presentation {
  font-family: Quicksand;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
}

.texte-presentation > a {
  display: block;
  padding: 24px 24px 1px 24px;
  margin-top: -24px;
}

.texte-presentation > a:hover,
.texte-presentation > a:active {
  transition: 0.2s;
  background-color: #1a807980;
  /* background-color: #cdf; */
  /* background-color: #ccc; */
}

.texte-presentation > a > img {
  width: 100%;
}

.col2 hr {
  border: none;
  width: 120px;
  border-bottom: solid 1px #999;
  margin: 24px auto 0 auto;
}

ul.decouvrir {
  padding: 28px;
  font-size: 0.938rem;
}

ul.decouvrir > li {
  display: block;
  padding: 8px 0;
  border-bottom: solid 1px #eee;
}

ul.decouvrir > li:last-child {
  border-bottom: none;
}

/* ul.decouvrir > li:hover > a,
ul.decouvrir > li:active > a {
  text-decoration: underline;
} */
ul.decouvrir > li:hover > a,
ul.decouvrir > li:active > a {
  color: #1a8079;
}



.icon-film {
  vertical-align: bottom;
  display: inline-block;
  width: 20px; height: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='hsl(0, 0%, 60%)' d='M488 64h-8v20c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12V64H96v20c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12V64h-8C10.7 64 0 74.7 0 88v336c0 13.3 10.7 24 24 24h8v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h320v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h8c13.3 0 24-10.7 24-24V88c0-13.3-10.7-24-24-24zM96 372c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm272 208c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm0-168c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm112 152c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z'></path></svg>");
}