/* CSS Mélanie 2020-02-11 */

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.card {
  width: 25%;
  padding: 8px 12px 36px 12px;
  box-sizing: border-box;
}

.evenement-image {
  display: block;
  width: 100%;
  background-color: #ccc;
  padding-bottom: 56.25%;
  margin-bottom: 4px;
  background-size: cover;
  background-position: 50% 50%;
}

ul.items-evenement > li {
  line-height: 17px;
}

.titre-evenement {
  font-size: 13px;
  font-family: Quicksandcf;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.film-infos {
  font-weight: 300;
  font-size: 0.875rem;
  padding: 1px 0 10px 0;
  color: #666;
}

.titre {
  font-family: "Source Serif Pro";
  font-weight: 600;
}

ul.seances {
  margin-top: -4px;
}

ul.seances > li {
  display: inline-block;
  padding: 0 0 2px 2px;
}

ul.seances > li > a {
  font-size: 13px;
  font-weight: 300;
  color: #000;
  border-bottom: solid 1px #000;
  margin-right: 8px;
}

ul.seances > li > a:hover,
ul.seances > li > a:hover {
  background-color: #b2ccff;
}

h2 {
  margin-left: 10px;
}

.evenement-image {
  margin-bottom: 7px;
}

.subcard {
  background-color: #ccfff7;
}
