/* CSS 2.3 : revu NLTE 2020-02-13 */
/*
 * Basé sur 2.2, mais retour à la Source Sans Pro et ajustements en conséquence.
 */

body {
  font-family: "Source Sans Pro";
}

.sous-cycle-text-container {
  margin-left: 10px;
  padding-bottom: 12px;
  width: 58.33%;
  width: 66.67%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.card {
  width: 25%;
  padding: 8px 12px 36px 12px;
  box-sizing: border-box;
}

.evenement-image {
  display: block;
  width: 100%;
  background-color: #ccc;
  padding-bottom: 56.25%;
  margin-bottom: 4px;
  background-size: cover;
  background-position: 50% 50%;
}

ul.items-evenement > li {
  line-height: 18px;
  /* line-height: 17px; */
}

.titre-evenement {
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.film-infos {
  font-weight: 300;
  font-size: 0.875rem;
  padding: 1px 0 4px 0;
  /* padding: 1px 0 10px 0; */
  color: #666;
}

a.titre {
  font-size: 16px;
  font-weight: 400;
}

a.titre:hover,
a.titre:active {
  text-decoration: underline;
}

ul.seances {
  margin-top: 6px;
}

ul.seances > li {
  display: block;
  padding: 0 0 2px 2px;
  margin-bottom: 2px;
}

ul.seances > li > a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-right: 2px;
  background-color: #eee;
  padding: 4px;
}

ul.seances > li > a:hover,
ul.seances > li > a:hover {
  background-color: #b2ccff;
}

h2 {
  margin-left: 10px;
}

.evenement-image {
  margin-bottom: 8px;
}

.seances {
  padding-bottom: 8px;
}
